Repository fbertolotto/TP2Algo3: changes, and which Codecov flags are due for each by the changed paths.
All: modelo, tests

codecov.yml:

codecov:
  token: 95a8244b-4f8f-4baf-93fd-a35994a44def

coverage:
  range: "80...100"
  status:
    patch: no
    project:
      default: off
      modelo:
        flags: modelo

flags:
  modelo:
    paths:
      - src/Modelo/
  tests:
    paths:
      - test/

ignore:
  - "src/Vista/**/*"
  - "src/Controlador/**/*"

Jugador se mueve felizmente por el mapa sin explotar
  src/Controlador/ControladorMoverJugadorAbajo.java
  src/Controlador/ControladorMoverJugadorDerecha.java
  src/Controlador/ControladorMoverJugadorIzquierda.java
  src/Modelo/Juego/Juego.java
  src/Vista/JuegoVista.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Update
  README.md
Due: none

Refactor JuegoTest
  test/JuegoTest/JuegoTest.java
  test/JuegoTest/JugadorTest.java
Due: tests

Pequeño Arreglo de Issues
  src/Controlador/ControladorMoverJugadorAbajo.java
  src/Controlador/ControladorMoverJugadorArriba.java
  src/Modelo/Mapa/Mapa.java
Due: modelo

Delegación de inicializaciones del Mapa
  src/Modelo/Juego/Juego.java
  src/Modelo/Mapa/InicializadorDeMateriales.java
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Mapa/PosicionadorRandom.java
Due: modelo

Me falto un <public>
  src/Modelo/Mapa/InicializadorDeMateriales.java
Due: modelo

Refactor mapa -> tablero
  src/Modelo/Juego/Juego.java
  src/Modelo/Juego/MesaDeCrafteo.java
  src/Modelo/Jugador/Inventario.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Posicionable/Posicionable.java
  src/Modelo/Tablero/InicializadorDeMateriales.java
  src/Modelo/Tablero/Posicion.java
  src/Modelo/Tablero/PosicionadorRandom.java
  src/Modelo/Tablero/Tablero.java
  test/CrafteoTest/CrafteoDeHerramientaTest.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Agrego imagenes de herramientas y pequeño refactor
  media/images/hachademadera.png
  media/images/hachademetal.png
  media/images/hachadepiedra.png
  media/images/picodemadera.png
  media/images/picodemetal.png
  media/images/picodepiedra.png
  media/images/picofino.png
  src/Modelo/Herramientas/HachaDeMadera.java
  src/Modelo/Herramientas/HachaDeMetal.java
  src/Modelo/Herramientas/HachaDePiedra.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Herramientas/PicoDeMadera.java
  src/Modelo/Herramientas/PicoDeMetal.java
  src/Modelo/Herramientas/PicoDePiedra.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Jugador/Inventario.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Materiales/Material.java
  src/Vista/JuegoVista.java
  src/Vista/PosicionablesVista/PosicionableVista.java
Due: modelo

Actualización TP.asta
  Diagramas/TP2Algo3.asta
Due: none

Update README
  README.md
Due: none

Agrego Diagramas de Secuencia
  Diagramas/TP2Algo3.asta
  src/Controlador/ControladorMoverJugadorArriba.java
Due: none

Update TP.asta
  Diagramas/TP2Algo3.asta
  src/Modelo/Herramientas/PicoDeMetal.java
  src/Modelo/Tablero/InicializadorDeMateriales.java
Due: modelo

Agrego Diagramas de Secuencia y mini refactor
  Diagramas/TP2Algo3.asta
  src/Modelo/Juego/Juego.java
Due: modelo

Agrego Diagrama de Clases General
  Diagramas/TP2Algo3.asta
Due: none

fix nuevo Diagrama de Clases
  Diagramas/TP2Algo3.asta
Due: none

Refactor recuentoPosicionable + nuevos diagramas
  Diagramas/TP2Algo3.asta
  src/Modelo/Juego/Juego.java
  src/Modelo/Tablero/Tablero.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Refactor MoverJugador
  src/Modelo/Juego/Juego.java
  src/Modelo/Jugador/Inventario.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Tablero/Posicion.java
  src/Modelo/Tablero/PosicionadorRandom.java
  src/Modelo/Tablero/Tablero.java
Due: modelo

Refactor sobrecarga de métodos
  Diagramas/TP2Algo3.asta
  src/Modelo/Tablero/InicializadorDeMateriales.java
Due: modelo

Bindeo Teclas WASD
  src/Vista/JuegoVista.java
Due: none

Mas Diagramas
  Diagramas/TP2Algo3.asta
Due: none

Un diagrama mas
  Diagramas/TP2Algo3.asta
Due: none

Refactor inventario
  src/Modelo/Jugador/Inventario.java
Due: modelo

Logica de Inventario
  src/Modelo/Jugador/Inventario.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Tablero/Tablero.java
  test/JuegoTest/JugadorTest.java
Due: modelo, tests

Refactor posX,posY -> fila,columna
  src/Modelo/Tablero/Posicion.java
  src/Modelo/Tablero/Tablero.java
  src/Vista/PosicionablesVista/PosicionableVista.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Refactor nueva Clase Botonera para JuegoVista
  src/Vista/Botonera.java
  src/Vista/JuegoVista.java
Due: none

Evito crear botones en cada update
  src/Vista/Botonera.java
  src/Vista/JuegoVista.java
Due: none

Agrega el inventario a la vista
  media/images/crafteo.png
  src/Controlador/ControladorAbrirCrafteo.java
  src/Controlador/ControladorCerrarCrafteo.java
  src/Modelo/Juego/Juego.java
  src/Vista/Botonera.java
  src/Vista/Crafteo.java
  src/Vista/CrafteoVista.java
  src/Vista/Grilla.java
  src/Vista/InventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/PosicionablesVista/PosicionableVista.java
Due: modelo

Fix Vista de inventario
  src/Modelo/Jugador/Jugador.java
  src/Vista/InventarioVista.java
  test/JuegoTest/JugadorTest.java
Due: modelo, tests

Supercalifragilisticoespialidoso refactoreo de Vista y Crafteo
  media/images/piedra2.png
  src/Controlador/ControladorAbrirCrafteo.java
  src/Controlador/ControladorCambiarAMenu.java
  src/Controlador/ControladorCerrarCrafteo.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Juego/MesaDeCrafteo.java
  src/Modelo/Jugador/Inventario.java
  src/Modelo/Materiales/Piedra.java
  src/Modelo/Tablero/Posicion.java
  src/Modelo/Tablero/Tablero.java
  src/Vista/Botonera.java
  src/Vista/Comunicador.java
  src/Vista/CrafteoVista.java
  src/Vista/InventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/Main.java
  src/Vista/MesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/PosicionableVista.java
  test/CrafteoTest/CrafteoDeHerramientaTest.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Refactor y delegación Inventario y Mesa Vistas
  src/Controlador/ControladorAbrirCrafteo.java
  src/Modelo/Juego/MesaDeCrafteo.java
  src/Modelo/Jugador/Inventario.java
  src/Vista/CrafteoVista.java
  src/Vista/InventarioVista.java
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/InventarioVista/MostradoraInventarioVista.java
  src/Vista/InventarioVista/ReceptoraInventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/CrafteadoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MostradoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/PosicionableVista.java
Due: modelo

Refactoreo inicializador de materiales
  src/Modelo/Tablero/InicializadorDeMateriales.java
  src/Modelo/Tablero/Tablero.java
  src/Vista/CrafteoVista.java
  src/Vista/InventarioVista/ReceptoraInventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
Due: modelo

Agrego HerramientaEquipada
  src/Modelo/Excepciones/MaterialNoEsEquipable.java
  src/Modelo/Jugador/Jugador.java
  test/JuegoTest/JugadorTest.java
Due: modelo, tests

Refactoreo Crafteo
  src/Controlador/ControladorAbrirCrafteo.java
  src/Controlador/ControladorCambiarAMenu.java
  src/Controlador/ControladorCerrarCrafteo.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Juego/MesaDeCrafteo.java
  src/Modelo/Tablero/Tablero.java
  src/Vista/CrafteoVista.java
  src/Vista/InventarioVista/MostradoraInventarioVista.java
  src/Vista/InventarioVista/ReceptoraInventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/Main.java
  src/Vista/MesaDeCrafteoVista/CrafteadoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MostradoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
  src/Vista/Video.java
Due: modelo

Modifico sobrecarga de metodos
  media/images/diamante2.png
  media/images/madera2.png
  media/images/metal2.png
  src/Modelo/Herramientas/Hacha.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Herramientas/Pico.java
  src/Modelo/Herramientas/PicoDePiedra.java
  src/Modelo/Herramientas/PicoFino.java
  test/HerramientasTest/UsoHerramientasTest.java
Due: modelo, tests

Revert "Modifico sobrecarga de metodos"
  media/images/diamante2.png
  media/images/madera2.png
  media/images/metal2.png
  src/Modelo/Herramientas/Hacha.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Herramientas/Pico.java
  src/Modelo/Herramientas/PicoDePiedra.java
  src/Modelo/Herramientas/PicoFino.java
  test/HerramientasTest/UsoHerramientasTest.java
Due: modelo, tests

Agrego interaccion para obtener materiall
  src/Modelo/Excepciones/MaterialFueraDeAlcanceExeption.java
  src/Modelo/Excepciones/MaterialNoEsEquipable.java
  src/Modelo/Excepciones/MaterialNoEsEquipableExeption.java
  src/Modelo/Herramientas/Hacha.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Herramientas/Pico.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Tablero/Posicion.java
  src/Modelo/Tablero/Tablero.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Agrega Vista para usar herramienta equipada
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Juego/Juego.java
  src/Vista/JuegoVista.java
Due: modelo

Actualizo Vista
  src/Controlador/ControladorUsarHerramienta.java
Due: none

Fix materiales fuera de rango
  src/Controlador/ControladorUsarHerramienta.java
Due: none

Modifico sobrecarga de metodos en Herramientas y Materiales
  src/Modelo/Herramientas/Hacha.java
  src/Modelo/Herramientas/Pico.java
  src/Modelo/Herramientas/PicoDePiedra.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Materiales/Diamante.java
  src/Modelo/Materiales/Madera.java
  src/Modelo/Materiales/Material.java
  src/Modelo/Materiales/Metal.java
  src/Modelo/Materiales/Piedra.java
Due: modelo
