Repository fbertolotto/TP2Algo3: changes, and which Codecov flags are due for each by the changed paths.
All: modelo, tests

codecov.yml:

codecov:
  token: 95a8244b-4f8f-4baf-93fd-a35994a44def

coverage:
  range: "80...100"
  status:
    patch: no
    project:
      default: off
      modelo:
        flags: modelo

flags:
  modelo:
    paths:
      - src/Modelo/
  tests:
    paths:
      - test/

ignore:
  - "src/Vista/**/*"
  - "src/Controlador/**/*"

Agrega Sonidos
  media/audio/broken.mp3
  src/Vista/Cancion.java
  src/Vista/Consola.java
  src/Vista/JuegoVista.java
  src/Vista/Main.java
Due: none

Agrego sonidos e InventarioLlenoException
  media/audio/CambiarHerramienta.mp3
  media/audio/Click.mp3
  media/audio/Colocar.mp3
  media/audio/CrafteoExitoso.mp3
  media/audio/DurabilidadAgotadaException.mp3
  media/audio/HerramientaEquipadaNulaException.mp3
  media/audio/InventarioLlenoException.mp3
  media/audio/MaterialFueraDeAlcanceException.mp3
  media/audio/MaterialNoEsEquipableException.mp3
  media/audio/PicoFinoMaterialInvalidoException.mp3
  media/audio/Romper.mp3
  media/audio/UsarHerramientaEnJugadorException.mp3
  src/Controlador/ControladorAbrirCrafteo.java
  src/Controlador/ControladorCambiarAMenu.java
  src/Controlador/ControladorCambiarHerramienta.java
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Excepciones/InventarioLlenoException.java
  src/Modelo/Jugador/Inventario.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Tablero/Tablero.java
  src/Vista/Cancion.java
  src/Vista/Consola.java
  src/Vista/JuegoVista.java
  src/Vista/Main.java
  src/Vista/MesaDeCrafteoVista/CrafteadoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/ImagenesVista.java
  test/JugadorTest/JugadorTest.java
Due: modelo, tests

Retira unused imports
  src/Vista/CrafteoVista.java
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/InventarioVista/MostradoraInventarioVista.java
  src/Vista/InventarioVista/ReceptoraInventarioVista.java
  src/Vista/MesaDeCrafteoVista/CrafteadoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MostradoraMesaDeCrafteoVista.java
Due: none

Agrego Test y comportamiento del easter egg
  media/audio/OriginalUsarHerramientaEnZombieException.mp3
  media/audio/UsarHerramientaEnZombieException.mp3
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Excepciones/UsarHerramientaEnZombieException.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Juego/Juego.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Bindeos en consola / Mas materiales
  src/Modelo/Jugador/Inventario.java
  src/Modelo/Tablero/InicializadorDeMateriales.java
  src/Vista/Consola.java
Due: modelo

Update .asta + diagramas de clases/paquetes
  Diagramas/TP2Algo3.asta
Due: none

Actualizo diagramas e informe
  Diagramas/TP2Algo3.asta
  Informe/Informe.pdf
Due: none

Fix Test Cantidad De Materiales
  test/JuegoTest/JuegoTest.java
Due: tests

Actualizo informe
  Informe/Informe.pdf
Due: none

Update read.me con última entrega
  README.md
Due: none

que choto que soy lpm
  README.md
Due: none
