Repository fbertolotto/TP2Algo3: changes, and which Codecov flags are due for each by the changed paths.
All: modelo, tests

Agrego el token de nuevo
  .travis.yml
  codecov.yml
Due: none

Vuelvo a agregar codecov.yml
  codecov.yml
Due: none

Actualizo travis.yml
  .travis.yml
Due: none

Agrego generar reportes para codecov
  .travis.yml
  build.xml
  ivy.xml
Due: none

Tests corren 1 sola vez
  build.xml
Due: none

Agrego code quality
  README.md
  codecov.yml
Due: none

Refactor Desgaste
  src/Modelo/Herramientas/Desgaste/Desgaste.java
  src/Modelo/Herramientas/Desgaste/DesgasteLineal.java
  src/Modelo/Herramientas/Desgaste/DesgasteUsos.java
Due: modelo

Test jugador no tiene pico fino
  test/JugadorTest.java
Due: tests

Agregado de DurabilidadAgotadaException en las herramientas que lo levantan. Agregado Tests de la excepcion con las herramientas
  src/Modelo/Excepciones/DurabilidadAgotadaException.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Herramientas/PicoDeMetal.java
  test/AgotarDurabilidadEnUsoHerramientasTest.java
  test/DesgasteMaterialesTest.java
  test/UsoHerramientasTest.java
Due: modelo, tests

DurabilidadAgotadaException agregada a PicoFino
  src/Modelo/Herramientas/PicoFino.java
Due: modelo

Agrego Main para Vista
  src/Vista/Inicial.java
  src/Vista/Main.java
  src/Vista/sample.fxml
Due: none

Agrego Imagen y Cancion a Vista
  src/Vista/Cancion.java
  src/Vista/Imagen.java
Due: none

Agrego Botones a Controlador
  src/Controlador/BotonExit.java
  src/Controlador/BotonGenerico.java
  src/Controlador/BotonPlay.java
  src/Controlador/Controller.java
Due: none

Agrego Controlador para Boton Salir
  src/Controlador/ControladorCerrarApp.java
Due: none

Actualizo Controladores y Agrego Video a Vista
  src/Controlador/ControladorCambiarAMenu.java
  src/Controlador/ControladorCerrarApp.java
  src/Vista/Main.java
  src/Vista/Video.java
Due: none

Corrijo nombre de Prueba de Jugador
  test/JugadorTest.java
Due: tests

Agrego Casos de Prueba Entrega 1
  README.md
Due: none

Modifico Desgaste - agrego constructor
  src/Modelo/Herramientas/Desgaste/Desgaste.java
  src/Modelo/Herramientas/Desgaste/DesgasteLineal.java
  src/Modelo/Herramientas/Desgaste/DesgasteUsos.java
  src/Modelo/Herramientas/HachaDeMadera.java
  src/Modelo/Herramientas/HachaDeMetal.java
  src/Modelo/Herramientas/HachaDePiedra.java
  src/Modelo/Herramientas/PicoDeMadera.java
  src/Modelo/Herramientas/PicoDeMetal.java
  src/Modelo/Herramientas/PicoDePiedra.java
  src/Modelo/Herramientas/PicoFino.java
Due: modelo

fix Desgaste - cambio privacidad atributos
  src/Modelo/Herramientas/Desgaste/DesgasteLineal.java
  src/Modelo/Herramientas/Desgaste/DesgasteUsos.java
Due: modelo

Refactor capital letters en metodos de Vista
  src/Controlador/ControladorCambiarAMenu.java
  src/Controlador/ControladorCerrarApp.java
  src/Vista/Cancion.java
  src/Vista/Imagen.java
  src/Vista/Main.java
  src/Vista/Video.java
Due: none

Diagrama de Clases Principal
  Diagramas/TP2Algo3.asta
Due: none

Diagrama de secuencia - Usar herramienta
  Diagramas/TP2Algo3.asta
Due: none

Update Diagrama de Clases
  Diagramas/TP2Algo3.asta
Due: none

Update Diagrama de Secuencia N°1
  Diagramas/TP2Algo3.asta
Due: none

Agrego Diagramas.png
  Diagramas/DiagramaDeClasesPrincipal.png
  Diagramas/usarHerramienta.png
Due: none

Refactor Diagrama de Secuencia N°1
  Diagramas/TP2Algo3.asta
  Diagramas/usarHerramienta.png
Due: none

Refactoreo Vista, Agrego Crafteo y Grilla
  src/Controlador/BotonCrafteo.java
  src/Controlador/ControladorAbrirCrafteo.java
  src/Controlador/ControladorCambiarAMenu.java
  src/Controlador/ControladorCerrarApp.java
  src/Vista/Grilla.java
  src/Vista/Juego.java
  src/Vista/images/crafteo.png
  src/Vista/images/mesa-crafteo-minecraft.jpg
Due: none

Agrego consigna al Readme
  README.md
Due: none

Actualizo README
  README.md
Due: none

Cambio de colores
  src/Vista/Grilla.java
  src/Vista/Juego.java
  src/Vista/Main.java
  src/Vista/sample.fxml
Due: none

Agrego correcciones de 1° entrega al Readme
  README.md
Due: none

Update README
  README.md
Due: none

Actualizo Volumen y Refactoreo Crafteo
  src/Controlador/BotonVolumen.java
  src/Controlador/ControladorAbrirCrafteo.java
  src/Controlador/ControladorCambiarAMenu.java
  src/Controlador/ControladorCerrarApp.java
  src/Controlador/ControladorVolumen.java
  src/Vista/Cancion.java
  src/Vista/Crafteo.java
  src/Vista/Juego.java
  src/Vista/Main.java
  src/Vista/images/Inventario.png
  src/Vista/images/volume.png
Due: none

Refactor Sobrecarga de Métodos de Desgaste
  src/Modelo/Desgastador/Desgastador.java
  src/Modelo/Herramientas/Hacha.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Herramientas/PicoDeMetal.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Materiales/Diamante.java
  src/Modelo/Materiales/Madera.java
  src/Modelo/Materiales/Material.java
  src/Modelo/Materiales/Metal.java
  src/Modelo/Materiales/Piedra.java
  test/AgotarDurabilidadEnUsoHerramientasTest.java
  test/DesgasteMaterialesTest.java
  test/UsoHerramientasTest.java
Due: modelo, tests

Agrega pruebas entrega 2
  README.md
Due: none

Update Consigna.pdf
  Informe/Consigna.pdf
Due: none

Revert "Refactor Sobrecarga de Métodos de Desgaste"
  src/Modelo/Desgastador/Desgastador.java
  src/Modelo/Herramientas/Hacha.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Herramientas/PicoDeMetal.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Materiales/Diamante.java
  src/Modelo/Materiales/Madera.java
  src/Modelo/Materiales/Material.java
  src/Modelo/Materiales/Metal.java
  src/Modelo/Materiales/Piedra.java
  test/AgotarDurabilidadEnUsoHerramientasTest.java
  test/DesgasteMaterialesTest.java
  test/UsoHerramientasTest.java
Due: modelo, tests

Refactor Desgastes
  src/Modelo/Herramientas/Hacha.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Herramientas/Pico.java
  src/Modelo/Herramientas/PicoDeMetal.java
  src/Modelo/Herramientas/PicoDePiedra.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Materiales/Diamante.java
  src/Modelo/Materiales/Madera.java
  src/Modelo/Materiales/Material.java
  src/Modelo/Materiales/Metal.java
  src/Modelo/Materiales/Piedra.java
Due: modelo

Path conditions:
  modelo: any of: src/Modelo/, but not: src/Vista/**/*, src/Controlador/**/*
  tests: any of: test/, but not: src/Vista/**/*, src/Controlador/**/*
