Repository fbertolotto/TP2Algo3: changes, and which Codecov flags are due for each by the changed paths.
All: modelo, tests

Agrego Tests de Refactor de Desgaste
  test/AgotarDurabilidadEnUsoHerramientasTest.java
  test/DesgasteMaterialesTest.java
  test/UsoHerramientasTest.java
Due: tests

Remuevo lineas sin usar
  src/Modelo/Materiales/Diamante.java
  src/Modelo/Materiales/Madera.java
  src/Modelo/Materiales/Material.java
  src/Modelo/Materiales/Metal.java
  src/Modelo/Materiales/Piedra.java
Due: modelo

Refactor Completo Desgaste
  src/Modelo/Desgaste/Desgaste.java
  src/Modelo/Desgaste/DesgasteLineal.java
  src/Modelo/Desgaste/DesgasteUsos.java
  src/Modelo/Herramientas/Desgaste/Desgaste.java
  src/Modelo/Herramientas/Desgaste/DesgasteLineal.java
  src/Modelo/Herramientas/Desgaste/DesgasteUsos.java
  src/Modelo/Herramientas/Hacha.java
  src/Modelo/Herramientas/HachaDeMadera.java
  src/Modelo/Herramientas/HachaDeMetal.java
  src/Modelo/Herramientas/HachaDePiedra.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Herramientas/Pico.java
  src/Modelo/Herramientas/PicoDeMadera.java
  src/Modelo/Herramientas/PicoDeMetal.java
  src/Modelo/Herramientas/PicoDePiedra.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Materiales/Diamante.java
  src/Modelo/Materiales/Madera.java
  src/Modelo/Materiales/Material.java
  src/Modelo/Materiales/Metal.java
  src/Modelo/Materiales/Piedra.java
  test/UsoHerramientasTest.java
Due: modelo, tests

Fix typo en desgaste del material
  src/Modelo/Materiales/Diamante.java
  src/Modelo/Materiales/Madera.java
  src/Modelo/Materiales/Material.java
  src/Modelo/Materiales/Metal.java
  src/Modelo/Materiales/Piedra.java
Due: modelo

Corrección DesgasteMaterialesTest
  test/DesgasteMaterialesTest.java
Due: tests

Corrección UsoHerramientasTest
  test/UsoHerramientasTest.java
Due: tests

Fix Issues de imports no usados
  src/Controlador/ControladorCerrarApp.java
  src/Vista/Grilla.java
  src/Vista/Juego.java
  test/UsoHerramientasTest.java
Due: tests

Faltaba un Override
  src/Modelo/Herramientas/PicoFino.java
Due: modelo

Agrego Interfaz Guardable
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Interfaces/Guardable.java
  src/Modelo/Jugador/Jugador.java
Due: modelo

Agrego Nombres e Inventario
  src/Modelo/Herramientas/Hacha.java
  src/Modelo/Herramientas/HachaDeMadera.java
  src/Modelo/Herramientas/HachaDeMetal.java
  src/Modelo/Herramientas/HachaDePiedra.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Herramientas/Pico.java
  src/Modelo/Herramientas/PicoDeMadera.java
  src/Modelo/Herramientas/PicoDeMetal.java
  src/Modelo/Herramientas/PicoDePiedra.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Interfaces/Guardable.java
  src/Modelo/Jugador/Inventario.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Materiales/Diamante.java
  src/Modelo/Materiales/Madera.java
  src/Modelo/Materiales/Material.java
  src/Modelo/Materiales/Metal.java
  src/Modelo/Materiales/Piedra.java
  test/JugadorTest.java
Due: modelo, tests

Agrego Logica de Crafteo
  src/Modelo/Jugador/MesaDeCrafteo.java
  test/ConstruccionDeHerramientaTest.java
Due: modelo, tests

Agrego Mapa , Posición
  src/Controlador/ControladorCambiarAMenu.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Interfaces/Guardable.java
  src/Modelo/Jugador/Inventario.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Mapa/Posicion.java
  src/Modelo/Materiales/Material.java
  src/Modelo/Posicionable/Posicionable.java
  src/Vista/JuegoVista.java
  src/Vista/Main.java
Due: modelo

Modifico Logica de Crafteo
  src/Modelo/Jugador/MesaDeCrafteo.java
  test/CrafteoDeHerramientaTest.java
Due: modelo, tests

Craftear devuelve Herramientas en lugar de Booleans
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Jugador/MesaDeCrafteo.java
  test/CrafteoDeHerramientaTest.java
Due: modelo, tests

Agrego Clase Juego y prueba de inicialización
  src/Modelo/Juego/Juego.java
  test/DesgasteMaterialesTest.java
  test/JuegoTest.java
Due: modelo, tests

Agrego ObtenerElemento en Mapa
  src/Modelo/Excepciones/PosicionOcupadaException.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Jugador/MesaDeCrafteo.java
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Mapa/Posicion.java
  src/Modelo/Posicionable/Posicionable.java
  test/MapaTest.java
Due: modelo, tests

Fix hash posicion
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Mapa/Posicion.java
  test/MapaTest.java
Due: modelo, tests

Agrego Clase Crafteo
  src/Modelo/Juego/Crafteo.java
  src/Modelo/Jugador/MesaDeCrafteo.java
  src/Modelo/Mapa/Mapa.java
  test/CrafteoDeHerramientaTest.java
Due: modelo, tests

Refactoreo Craftear
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Jugador/MesaDeCrafteo.java
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Mapa/Posicion.java
  src/Vista/JuegoVista.java
  test/CrafteoDeHerramientaTest.java
Due: modelo, tests

Refactor y completado Pruebas Crafteo
  README.md
  src/Modelo/Excepciones/PosicionOcupadaException.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Juego/MesaDeCrafteo.java
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Mapa/Posicion.java
  test/CrafteoDeHerramientaTest.java
  test/CreacionHerramientasTest.java
  test/JuegoTest.java
  test/JugadorTest.java
  test/MapaTest.java
Due: modelo, tests

Adición prueba de PosicionOcupadaException para MesaDeCrafteo
  src/Modelo/Juego/MesaDeCrafteo.java
  test/MapaTest.java
Due: modelo, tests

Fix Issues
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Juego/Crafteo.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Materiales/Material.java
  src/Modelo/Posicionable/Posicionable.java
Due: modelo

Fix del Fix porque Codacy histeriquea
  src/Modelo/Juego/Crafteo.java
Due: modelo

Reorganizo pruebas en carpetas
  test/CrafteoTest/CrafteoDeHerramientaTest.java
  test/HerramientasTest/AgotarDurabilidadEnUsoHerramientasTest.java
  test/HerramientasTest/CreacionHerramientasTest.java
  test/HerramientasTest/UsoHerramientasTest.java
  test/JuegoTest/JuegoTest.java
  test/JuegoTest/JugadorTest.java
  test/MapaTest/MapaTest.java
  test/MaterialesTest/DesgasteMaterialesTest.java
Due: tests

Modifico constructor de mapa
  src/Modelo/Juego/MesaDeCrafteo.java
  src/Modelo/Mapa/Mapa.java
  test/MapaTest/MapaTest.java
Due: modelo, tests

Agrego movimiento del jugador
  src/Modelo/Juego/Juego.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Mapa/Posicion.java
  test/JuegoTest/JuegoTest.java
  test/MapaTest/MapaTest.java
Due: modelo, tests

Codacy Refactor
  src/Modelo/Mapa/Mapa.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Agrego Colisiones
  src/Modelo/Excepciones/DurabilidadAgotadaException.java
  src/Modelo/Excepciones/PosicionFueraDeRangoException.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Mapa/Posicion.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Agrego obtener pos vacia
  src/Modelo/Juego/Juego.java
  src/Modelo/Mapa/Mapa.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Elimino imports sin usar
  src/Modelo/Juego/MesaDeCrafteo.java
  src/Modelo/Mapa/Mapa.java
Due: modelo

Adición pruebas Movimiento jugador en mapa
  src/Modelo/Juego/Juego.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Refactor JuegoTest
  test/JuegoTest/JuegoTest.java
Due: tests

Adición de Pruebas faltantes JuegoTest
  test/JuegoTest/JuegoTest.java
Due: tests

Agrego inicializacion random de materiales
  src/Modelo/Juego/Juego.java
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Mapa/Posicion.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Refactor y Agrego y Movimiento
  src/Controlador/ControladorCambiarAMenu.java
  src/Controlador/ControladorMoverJugadorArriba.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Materiales/Diamante.java
  src/Modelo/Materiales/Madera.java
  src/Modelo/Materiales/Metal.java
  src/Modelo/Materiales/Piedra.java
  src/Modelo/Posicionable/Posicionable.java
  src/Vista/Grilla.java
  src/Vista/JuegoVista.java
  src/Vista/Main.java
  src/Vista/PosicionablesVista/PosicionableVista.java
  src/Vista/images/Steve.png
  src/Vista/images/diamante.png
  src/Vista/images/madera.png
  src/Vista/images/metal.png
  src/Vista/images/piedra.png
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Refactor legibilidad
  src/Controlador/BotonCrafteo.java
  src/Controlador/BotonVolumen.java
  src/Controlador/ControladorVolumen.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Juego/MesaDeCrafteo.java
  src/Modelo/Jugador/Inventario.java
  src/Modelo/Mapa/Mapa.java
  src/Modelo/Mapa/Posicion.java
  src/Vista/Main.java
Due: modelo

Ultimos unused import
  src/Vista/PosicionablesVista/PosicionableVista.java
Due: none

Agrego crearBoton en Vista
  src/Vista/JuegoVista.java
Due: none

Agrego actualizaciones de vista
  src/Controlador/ControladorMoverJugadorArriba.java
  src/Vista/JuegoVista.java
Due: none

Path conditions:
  modelo: any of: src/Modelo/, but not: src/Vista/**/*, src/Controlador/**/*
  tests: any of: test/, but not: src/Vista/**/*, src/Controlador/**/*
