Repository fbertolotto/TP2Algo3: changes, and which Codecov flags are due for each by the changed paths.
All: modelo, tests

codecov.yml:

codecov:
  token: 95a8244b-4f8f-4baf-93fd-a35994a44def

coverage:
  range: "80...100"
  status:
    patch: no
    project:
      default: off
      modelo:
        flags: modelo

flags:
  modelo:
    paths:
      - src/Modelo/
  tests:
    paths:
      - test/

ignore:
  - "src/Vista/**/*"
  - "src/Controlador/**/*"

Agrego logica de relacion entre herramientas y materiales
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Jugador/Jugador.java
  src/Vista/JuegoVista.java
Due: modelo

Entrega 4 (?)
  src/Controlador/ControladorCambiarHerramienta.java
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Jugador/Jugador.java
  src/Vista/Botonera.java
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/JuegoVista.java
Due: modelo

Fix
  src/Modelo/Jugador/Jugador.java
Due: modelo

mini refactor botones + cambio Vista
  media/images/cambiarHerramienta.png
  src/Controlador/BotonCambiarHerramienta.java
  src/Vista/Botonera.java
  src/Vista/InventarioVista/InventarioVista.java
Due: none

fix refactor
  media/images/usarHerramienta.png
  src/Controlador/BotonUsarHerramienta.java
Due: none

Agrego funcionalidad usar Herramienta
  src/Controlador/BotonCambiarHerramienta.java
  src/Controlador/BotonUsarHerramienta.java
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Tablero/Tablero.java
  src/Vista/JuegoVista.java
Due: modelo

Agrego generador de rutas y agrego HerramientaEquipaNulaExepcion
  media/images/Hacha de Madera.png
  media/images/Hacha de Metal.png
  media/images/Hacha de Piedra.png
  media/images/Pico Fino.png
  media/images/Pico de Madera.png
  media/images/Pico de Metal.png
  media/images/Pico de Piedra.png
  media/images/piedra.png
  media/images/piedra2.png
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Excepciones/HerramientaEquipadaNulaExeption.java
  src/Modelo/Herramientas/Hacha.java
  src/Modelo/Herramientas/HachaDeMadera.java
  src/Modelo/Herramientas/HachaDeMetal.java
  src/Modelo/Herramientas/HachaDePiedra.java
  src/Modelo/Herramientas/Pico.java
  src/Modelo/Herramientas/PicoDeMadera.java
  src/Modelo/Herramientas/PicoDeMetal.java
  src/Modelo/Herramientas/PicoDePiedra.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Jugador/Jugador.java
  src/Modelo/Materiales/Diamante.java
  src/Modelo/Materiales/Madera.java
  src/Modelo/Materiales/Metal.java
  src/Modelo/Materiales/Piedra.java
  src/Modelo/Posicionable/Posicionable.java
  src/Modelo/Tablero/Tablero.java
  src/Vista/CrafteoVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/PosicionableVista.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Agrego que el jugador no pueda usar una herramienta contra si
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Excepciones/UsarHerramientaEnJugadorExeption.java
  src/Modelo/Juego/Juego.java
Due: modelo

Agrego Tests
  test/JuegoTest/JuegoTest.java
  test/JuegoTest/JugadorTest.java
Due: tests

Agrega Mapa infinito
  media/images/Hacha de Maderainventario.png
  media/images/Hacha de Metalinventario.png
  media/images/Hacha de Piedrainventario.png
  media/images/Pico de Maderainventario.png
  media/images/Pico de Metalinventario.png
  media/images/Pico de Piedrainventario.png
  media/images/maderainventario.png
  media/images/piedrainventario.png
  src/Controlador/BotonCambiarHerramienta.java
  src/Controlador/BotonCrafteo.java
  src/Controlador/BotonUsarHerramienta.java
  src/Controlador/BotonVolumen.java
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Tablero/InicializadorDeMateriales.java
  src/Modelo/Tablero/Posicion.java
  src/Modelo/Tablero/Tablero.java
  src/Vista/Botonera.java
  src/Vista/CrafteoVista.java
  src/Vista/Grilla.java
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/PosicionableVista.java
  test/JuegoTest/JuegoTest.java
Due: modelo, tests

Fix vista y herramientas
  media/gamebackground.jpg
  media/images/Hacha de Madera.png
  media/images/Hacha de Metal.png
  media/images/Hacha de Piedra.png
  media/images/Inventario.png
  media/images/Pico Finoinventario.png
  media/images/Pico de Madera.png
  media/images/Pico de Metal.png
  media/images/Pico de Piedra.png
  media/images/diaimanteinventario.png
  media/images/gamebackground.jpg
  media/images/intro.jpg
  media/images/maderainventario.png
  media/images/metalinventario.png
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Jugador/Jugador.java
  src/Vista/JuegoVista.java
Due: modelo

Resize imagenes, control del pico fino
  media/images/Hacha de Madera.png
  media/images/Hacha de Maderainventario.png
  media/images/Hacha de Metal.png
  media/images/Hacha de Metalinventario.png
  media/images/Hacha de Piedra.png
  media/images/Hacha de Piedrainventario.png
  media/images/Pico Fino.png
  media/images/Pico Finoinventario.png
  media/images/Pico de Madera.png
  media/images/Pico de Maderainventario.png
  media/images/Pico de Piedra.png
  media/images/Pico de Piedrainventario.png
  src/Modelo/Excepciones/PicoFinoMaterialInvalidoExeption.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Jugador/Jugador.java
Due: modelo

Pequeño fix de Tests
  src/Modelo/Jugador/Jugador.java
  test/HerramientasTest/UsoHerramientasTest.java
  test/MaterialesTest/DesgasteMaterialesTest.java
Due: modelo, tests

Agrego consola de errores
  media/images/diamanteinventario.png
  src/Controlador/ControladorCambiarHerramienta.java
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Excepciones/DurabilidadAgotadaException.java
  src/Modelo/Excepciones/HerramientaEquipadaNulaExeption.java
  src/Modelo/Excepciones/MaterialFueraDeAlcanceExeption.java
  src/Modelo/Excepciones/MaterialNoEsEquipableExeption.java
  src/Modelo/Excepciones/PicoFinoMaterialInvalidoExeption.java
  src/Modelo/Excepciones/PosicionFueraDeRangoException.java
  src/Modelo/Excepciones/PosicionOcupadaException.java
  src/Modelo/Excepciones/UsarHerramientaEnJugadorExeption.java
  src/Modelo/Juego/Juego.java
  src/Vista/Consola.java
  src/Vista/JuegoVista.java
Due: modelo

Reordenado de botones
  src/Controlador/BotonCambiarHerramienta.java
  src/Controlador/BotonUsarHerramienta.java
  src/Vista/Botonera.java
  src/Vista/JuegoVista.java
Due: none

Falto un pequeño try <3
  test/JuegoTest/JuegoTest.java
Due: tests

Agrega barra de durabilidad y rango de alcance
  media/images/Libro_encantado.png
  src/Controlador/ControladorUsarHerramienta.java
  src/Vista/PosicionablesVista/PosicionableVista.java
Due: none

Surprise
  media/images/Zombie.png
  src/Modelo/Juego/Juego.java
  src/Modelo/Jugador/Zombie.java
  src/Vista/JuegoVista.java
Due: modelo

Fixean2 Issues con mi bicicleta
  src/Modelo/Jugador/Jugador.java
  src/Vista/PosicionablesVista/PosicionableVista.java
  test/JuegoTest/JuegoTest.java
  test/JuegoTest/JugadorTest.java
Due: modelo, tests

Se pulen detalles estéticos
  src/Controlador/BotonCrafteo.java
  src/Controlador/BotonVolumen.java
  src/Controlador/ControladorCambiarHerramienta.java
  src/Modelo/Tablero/InicializadorDeMateriales.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  test/JuegoTest/JuegoTest.java
  test/JuegoTest/JugadorTest.java
Due: modelo, tests

Evito crear 5 millones de Grillas en cada update
  src/Controlador/ControladorAbrirCrafteo.java
  src/Controlador/ControladorCambiarHerramienta.java
  src/Modelo/Juego/Juego.java
  src/Vista/CrafteoVista.java
  src/Vista/Grilla.java
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/InventarioVista/MostradoraInventarioVista.java
  src/Vista/InventarioVista/ReceptoraInventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/CrafteadoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MostradoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/PosicionableVista.java
Due: modelo

Habemus Barra de durabilidad
  src/Modelo/Desgaste/Desgaste.java
  src/Modelo/Desgaste/DesgasteLineal.java
  src/Modelo/Desgaste/DesgasteUsos.java
  src/Modelo/Herramientas/Herramienta.java
  src/Modelo/Materiales/Material.java
  src/Vista/Botonera.java
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/BarraDurabilidad.java
  src/Vista/PosicionablesVista/PosicionableVista.java
Due: modelo

Issues fixea3
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/JuegoVista.java
Due: none

fix RangoDeAtaque
  src/Controlador/ControladorUsarHerramienta.java
Due: none

Adición de pruebas Jugador/Juego
  src/Vista/PosicionablesVista/BarraDurabilidad.java
  test/JuegoTest/JuegoTest.java
  test/JuegoTest/JugadorTest.java
  test/JugadorTest/JugadorTest.java
  test/JugadorTest/MovimientoJugadorTest.java
Due: tests

More Tests
  test/HerramientasTest/UsoHerramientasTest.java
  test/JuegoTest/JuegoTest.java
  test/JugadorTest/JugadorTest.java
  test/MaterialesTest/DesgasteMaterialesTest.java
Due: tests

Even more tests
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Juego/Juego.java
  src/Vista/JuegoVista.java
  test/JuegoTest/JuegoTest.java
  test/JugadorTest/JugadorTest.java
Due: modelo, tests

Fix issues
  src/Modelo/Herramientas/PicoFino.java
  test/JuegoTest/JuegoTest.java
  test/JugadorTest/JugadorTest.java
Due: modelo, tests

Agrego unos tests y mini-refactor
  src/Controlador/ControladorCambiarHerramienta.java
  src/Vista/CrafteoVista.java
  src/Vista/InventarioVista/ReceptoraInventarioVista.java
  test/JuegoTest/JuegoTest.java
Due: tests

Refactorea manejo de atajos de teclado
  src/Controlador/ControladorAbrirCrafteo.java
  src/Controlador/ControladorCambiarHerramienta.java
  src/Controlador/ControladorUsarHerramienta.java
  src/Vista/JuegoVista.java
  src/Vista/Main.java
Due: none

Fix
  src/Vista/JuegoVista.java
Due: none

Update .asta general y DiagramaPaquetes
  Diagramas/TP2Algo3.asta
  src/Controlador/ControladorUsarHerramienta.java
  src/Vista/JuegoVista.java
  test/JuegoTest/JuegoTest.java
Due: tests

Fix nombres de excepciones + diagramas
  Diagramas/TP2Algo3.asta
  src/Controlador/ControladorCambiarHerramienta.java
  src/Controlador/ControladorUsarHerramienta.java
  src/Modelo/Excepciones/HerramientaEquipadaNulaException.java
  src/Modelo/Excepciones/HerramientaEquipadaNulaExeption.java
  src/Modelo/Excepciones/MaterialFueraDeAlcanceException.java
  src/Modelo/Excepciones/MaterialFueraDeAlcanceExeption.java
  src/Modelo/Excepciones/MaterialNoEsEquipableException.java
  src/Modelo/Excepciones/MaterialNoEsEquipableExeption.java
  src/Modelo/Excepciones/PicoFinoMaterialInvalidoException.java
  src/Modelo/Excepciones/PicoFinoMaterialInvalidoExeption.java
  src/Modelo/Excepciones/UsarHerramientaEnJugadorException.java
  src/Modelo/Excepciones/UsarHerramientaEnJugadorExeption.java
  src/Modelo/Herramientas/PicoFino.java
  src/Modelo/Juego/Juego.java
  src/Modelo/Jugador/Jugador.java
  test/HerramientasTest/UsoHerramientasTest.java
  test/JugadorTest/JugadorTest.java
  test/MaterialesTest/DesgasteMaterialesTest.java
Due: modelo, tests

Update para entrega
  Diagramas/DiagramaDeClasesPrincipal.png
  Diagramas/usarHerramienta.png
  Informe/Informe.pdf
Due: none

Update readme
  README.md
Due: none

Refactorea vista
  src/Controlador/ControladorAbrirCrafteo.java
  src/Controlador/ControladorCambiarHerramienta.java
  src/Vista/Botonera.java
  src/Vista/CrafteoVista.java
  src/Vista/Grilla.java
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/InventarioVista/MostradoraInventarioVista.java
  src/Vista/InventarioVista/ReceptoraInventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/CrafteadoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MostradoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/PosicionableVista.java
Due: none

Refactor Vista del mapa/inventario/herramienta equipada
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/ImagenesCrafteoVista.java
  src/Vista/PosicionablesVista/ImagenesVista.java
Due: none

Refactor Vista
  src/Vista/CrafteoVista.java
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/ImagenesCrafteoVista.java
  src/Vista/PosicionablesVista/ImagenesVista.java
Due: none

Refactor Vista
  src/Vista/CrafteoVista.java
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/ImagenesVista.java
Due: none

Fix Vista crafteo
  src/Vista/InventarioVista/InventarioVista.java
  src/Vista/InventarioVista/MostradoraInventarioVista.java
  src/Vista/InventarioVista/ReceptoraInventarioVista.java
  src/Vista/JuegoVista.java
  src/Vista/MesaDeCrafteoVista/CrafteadoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/MostradoraMesaDeCrafteoVista.java
  src/Vista/MesaDeCrafteoVista/ReceptoraMesaDeCrafteoVista.java
  src/Vista/PosicionablesVista/ImagenesCrafteoVista.java
  src/Vista/PosicionablesVista/ImagenesVista.java
Due: none
